<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameBtnBigFill04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{738,162},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnBigShadow04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,288}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{996,162},{288,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnBoxMFill04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{174,0},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnBoxMShadow04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,148}</string>
                <key>spriteSourceSize</key>
                <string>{149,148}</string>
                <key>textureRect</key>
                <string>{{535,0},{149,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnGroupFill04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,75}</string>
                <key>spriteSourceSize</key>
                <string>{222,75}</string>
                <key>textureRect</key>
                <string>{{684,0},{222,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnGroupShadow04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,104}</string>
                <key>spriteSourceSize</key>
                <string>{251,104}</string>
                <key>textureRect</key>
                <string>{{1614,0},{251,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnHasenBoxFill01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{293,0},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnHasenBoxLine01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{412,0},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnLineFill04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,90}</string>
                <key>spriteSourceSize</key>
                <string>{239,90}</string>
                <key>textureRect</key>
                <string>{{1375,0},{239,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnLongFill04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,72}</string>
                <key>spriteSourceSize</key>
                <string>{504,72}</string>
                <key>textureRect</key>
                <string>{{1284,162},{504,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnLongRows2Fill04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,132}</string>
                <key>spriteSourceSize</key>
                <string>{504,132}</string>
                <key>textureRect</key>
                <string>{{533,450},{504,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnLongRows2Shadow04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,161}</string>
                <key>spriteSourceSize</key>
                <string>{533,161}</string>
                <key>textureRect</key>
                <string>{{1037,450},{533,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnLongShadow04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,101}</string>
                <key>spriteSourceSize</key>
                <string>{533,101}</string>
                <key>textureRect</key>
                <string>{{0,450},{533,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnNitakuBatsu02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,150}</string>
                <key>spriteSourceSize</key>
                <string>{147,150}</string>
                <key>textureRect</key>
                <string>{{906,0},{147,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnNitakuMaru02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1053,0},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnSel4SquareFill01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,184}</string>
                <key>spriteSourceSize</key>
                <string>{258,184}</string>
                <key>textureRect</key>
                <string>{{192,162},{258,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnSel4SquareShadow01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,214}</string>
                <key>spriteSourceSize</key>
                <string>{288,214}</string>
                <key>textureRect</key>
                <string>{{450,162},{288,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnSel4YokoFill02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1213,0},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnSel4YokoShadow02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,162},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameButtonFill30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameButtonShadow30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{72,0},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameButtons.png</string>
            <key>size</key>
            <string>{1865,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e216c2cfd3fb1902b125386ee9bb97aa:7a1e1d3fde376b4f0da9635fc40f7615:1ecc869926b813cb9f229bf2039644d8$</string>
            <key>textureFileName</key>
            <string>gameButtons.png</string>
        </dict>
    </dict>
</plist>
