<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1132}</string>
                <key>spriteSourceSize</key>
                <string>{750,1132}</string>
                <key>textureRect</key>
                <string>{{1192,789},{750,1132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_sensei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,395}</string>
                <key>spriteSourceSize</key>
                <string>{301,395}</string>
                <key>textureRect</key>
                <string>{{0,220},{301,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_bg_food_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,172}</string>
                <key>spriteSourceSize</key>
                <string>{511,172}</string>
                <key>textureRect</key>
                <string>{{1266,0},{511,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_bg_food_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,170}</string>
                <key>spriteSourceSize</key>
                <string>{516,170}</string>
                <key>textureRect</key>
                <string>{{750,0},{516,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_bg_stripe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,220}</string>
                <key>spriteSourceSize</key>
                <string>{80,220}</string>
                <key>textureRect</key>
                <string>{{1777,0},{80,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,40}</string>
                <key>spriteSourceSize</key>
                <string>{750,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{750,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_sensei_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,556}</string>
                <key>spriteSourceSize</key>
                <string>{411,556}</string>
                <key>textureRect</key>
                <string>{{705,220},{411,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_sensei_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,569}</string>
                <key>spriteSourceSize</key>
                <string>{479,569}</string>
                <key>textureRect</key>
                <string>{{1116,220},{479,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_sensei_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,623}</string>
                <key>spriteSourceSize</key>
                <string>{442,623}</string>
                <key>textureRect</key>
                <string>{{0,789},{442,623}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1086}</string>
                <key>spriteSourceSize</key>
                <string>{750,1086}</string>
                <key>textureRect</key>
                <string>{{442,789},{750,1086}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,404}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{301,220},{404,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>company.png</string>
            <key>size</key>
            <string>{1942,1921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d0bb73349363e7ee93cdc2a83eef389:e4e1a86bf4874d174f00f4e705b4e8af:f6036990d3a8f00623b7182d6f2260c4$</string>
            <key>textureFileName</key>
            <string>company.png</string>
        </dict>
    </dict>
</plist>
