<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ending_ase1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,554}</string>
                <key>spriteSourceSize</key>
                <string>{377,554}</string>
                <key>textureRect</key>
                <string>{{376,0},{377,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ending_ase2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,564}</string>
                <key>spriteSourceSize</key>
                <string>{376,564}</string>
                <key>textureRect</key>
                <string>{{753,0},{376,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ending_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,569}</string>
                <key>spriteSourceSize</key>
                <string>{479,569}</string>
                <key>textureRect</key>
                <string>{{377,623},{479,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ending_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,623}</string>
                <key>spriteSourceSize</key>
                <string>{377,623}</string>
                <key>textureRect</key>
                <string>{{1540,0},{377,623}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ending_go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,642}</string>
                <key>spriteSourceSize</key>
                <string>{538,642}</string>
                <key>textureRect</key>
                <string>{{856,623},{538,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ending_hakushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,543}</string>
                <key>spriteSourceSize</key>
                <string>{376,543}</string>
                <key>textureRect</key>
                <string>{{0,0},{376,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opening_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,556}</string>
                <key>spriteSourceSize</key>
                <string>{411,556}</string>
                <key>textureRect</key>
                <string>{{1129,0},{411,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opening_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,623}</string>
                <key>spriteSourceSize</key>
                <string>{377,623}</string>
                <key>textureRect</key>
                <string>{{0,623},{377,623}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opening_go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,642}</string>
                <key>spriteSourceSize</key>
                <string>{538,642}</string>
                <key>textureRect</key>
                <string>{{1394,623},{538,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>faces.png</string>
            <key>size</key>
            <string>{1932,1265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9a179f74b609c015215b10ae944e7fb:dbff6c9eafda279b2b5c69a21b77ae51:215e6747958b57305900da20c1195263$</string>
            <key>textureFileName</key>
            <string>faces.png</string>
        </dict>
    </dict>
</plist>
