<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mAT01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{108,107}</string>
                <key>textureRect</key>
                <string>{{98,860},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mAT01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{129,0},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mAT01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{304,652},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mAT01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,107}</string>
                <key>spriteSourceSize</key>
                <string>{102,107}</string>
                <key>textureRect</key>
                <string>{{206,860},{102,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mAT01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,107}</string>
                <key>spriteSourceSize</key>
                <string>{98,107}</string>
                <key>textureRect</key>
                <string>{{308,860},{98,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDR01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{360,90},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDR01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,93}</string>
                <key>spriteSourceSize</key>
                <string>{94,93}</string>
                <key>textureRect</key>
                <string>{{97,274},{94,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDR01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{0,182},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDR01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{275,0},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDR01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{96,182},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDR01f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,94}</string>
                <key>spriteSourceSize</key>
                <string>{86,94}</string>
                <key>textureRect</key>
                <string>{{275,367},{86,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDT01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{106,1075},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDT01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{363,0},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDT01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,110}</string>
                <key>spriteSourceSize</key>
                <string>{105,110}</string>
                <key>textureRect</key>
                <string>{{214,1075},{105,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mDT01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,112}</string>
                <key>spriteSourceSize</key>
                <string>{103,112}</string>
                <key>textureRect</key>
                <string>{{319,1075},{103,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mHE01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,89}</string>
                <key>spriteSourceSize</key>
                <string>{50,89}</string>
                <key>textureRect</key>
                <string>{{225,0},{50,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mHE01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,85}</string>
                <key>spriteSourceSize</key>
                <string>{92,85}</string>
                <key>textureRect</key>
                <string>{{37,0},{92,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mHE01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{361,367},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mHE01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,94}</string>
                <key>spriteSourceSize</key>
                <string>{83,94}</string>
                <key>textureRect</key>
                <string>{{0,461},{83,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mHE01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,93}</string>
                <key>spriteSourceSize</key>
                <string>{96,93}</string>
                <key>textureRect</key>
                <string>{{191,274},{96,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mHE01f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{0,90},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mHE01g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{42,94}</string>
                <key>textureRect</key>
                <string>{{83,461},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mKT01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{204,652},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mKT01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{294,755},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mKT01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{406,860},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mKT01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{405,652},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mKT01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,108}</string>
                <key>spriteSourceSize</key>
                <string>{46,108}</string>
                <key>textureRect</key>
                <string>{{345,967},{46,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mMW01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,108}</string>
                <key>spriteSourceSize</key>
                <string>{99,108}</string>
                <key>textureRect</key>
                <string>{{391,967},{99,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mMW01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{0,967},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mMW01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{98,106}</string>
                <key>textureRect</key>
                <string>{{0,860},{98,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mMW01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{0,755},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mMW01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{45,107}</string>
                <key>textureRect</key>
                <string>{{107,967},{45,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNB01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{125,461},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNB01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,93}</string>
                <key>spriteSourceSize</key>
                <string>{82,93}</string>
                <key>textureRect</key>
                <string>{{287,274},{82,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNB01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,95}</string>
                <key>textureRect</key>
                <string>{{42,555},{96,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNB01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{184,182},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNB01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{369,274},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNB01f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,91}</string>
                <key>spriteSourceSize</key>
                <string>{89,91}</string>
                <key>textureRect</key>
                <string>{{182,90},{89,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNB01g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,94}</string>
                <key>spriteSourceSize</key>
                <string>{41,94}</string>
                <key>textureRect</key>
                <string>{{218,461},{41,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNR01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{399,755},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNR01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,103}</string>
                <key>spriteSourceSize</key>
                <string>{92,103}</string>
                <key>textureRect</key>
                <string>{{101,755},{92,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNR01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{109,101}</string>
                <key>textureRect</key>
                <string>{{95,652},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNR01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{0,652},{95,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mNR01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,107}</string>
                <key>spriteSourceSize</key>
                <string>{41,107}</string>
                <key>textureRect</key>
                <string>{{152,967},{41,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mSY01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{280,182},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mSY01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mSY01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,93}</string>
                <key>spriteSourceSize</key>
                <string>{95,93}</string>
                <key>textureRect</key>
                <string>{{0,367},{95,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mSY01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{259,461},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mSY01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{375,182},{91,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mSY01f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,91}</string>
                <key>spriteSourceSize</key>
                <string>{89,91}</string>
                <key>textureRect</key>
                <string>{{271,90},{89,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mSY01g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,94}</string>
                <key>spriteSourceSize</key>
                <string>{41,94}</string>
                <key>textureRect</key>
                <string>{{353,461},{41,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mTN01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,97}</string>
                <key>spriteSourceSize</key>
                <string>{104,97}</string>
                <key>textureRect</key>
                <string>{{330,555},{104,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mTN01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,107}</string>
                <key>spriteSourceSize</key>
                <string>{106,107}</string>
                <key>textureRect</key>
                <string>{{193,967},{106,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mTN01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{0,1075},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mTN01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,103}</string>
                <key>spriteSourceSize</key>
                <string>{101,103}</string>
                <key>textureRect</key>
                <string>{{193,755},{101,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mTN01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,107}</string>
                <key>spriteSourceSize</key>
                <string>{46,107}</string>
                <key>textureRect</key>
                <string>{{299,967},{46,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{235,555},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{0,274},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{138,555},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,94}</string>
                <key>textureRect</key>
                <string>{{394,461},{90,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{83,93}</string>
                <key>textureRect</key>
                <string>{{95,367},{83,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,93}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{178,367},{97,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{91,90},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mZE01h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{42,94}</string>
                <key>textureRect</key>
                <string>{{0,555},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guidMsg.png</string>
            <key>size</key>
            <string>{509,1187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeb0e0ed0cd7b4487c59f831f56bb6ac:9c61a4436be73d54b6e96aff7d75be3b:b187b63fcbd43a3560361f9c7d07ddef$</string>
            <key>textureFileName</key>
            <string>guidMsg.png</string>
        </dict>
    </dict>
</plist>
