<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hukushuuBtnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{0,553},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hukushuuBtnNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,256}</string>
                <key>spriteSourceSize</key>
                <string>{96,256}</string>
                <key>textureRect</key>
                <string>{{256,553},{96,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hukushuuBtnPrev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,256}</string>
                <key>spriteSourceSize</key>
                <string>{96,256}</string>
                <key>textureRect</key>
                <string>{{352,553},{96,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hukushuuHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,126}</string>
                <key>textureRect</key>
                <string>{{0,236},{750,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuBtnNattoku01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,111}</string>
                <key>spriteSourceSize</key>
                <string>{278,111}</string>
                <key>textureRect</key>
                <string>{{295,0},{278,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuHeader01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,125}</string>
                <key>spriteSourceSize</key>
                <string>{750,125}</string>
                <key>textureRect</key>
                <string>{{0,111},{750,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuHukidashi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,55}</string>
                <key>spriteSourceSize</key>
                <string>{295,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{295,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuKokeKemuriL01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,683}</string>
                <key>spriteSourceSize</key>
                <string>{458,683}</string>
                <key>textureRect</key>
                <string>{{213,1136},{458,683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuKokeKemuriS01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,267}</string>
                <key>spriteSourceSize</key>
                <string>{668,267}</string>
                <key>textureRect</key>
                <string>{{0,809},{668,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuKokeSensei01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,132}</string>
                <key>spriteSourceSize</key>
                <string>{405,132}</string>
                <key>textureRect</key>
                <string>{{0,362},{405,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuSenseiA_body01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,165}</string>
                <key>spriteSourceSize</key>
                <string>{164,165}</string>
                <key>textureRect</key>
                <string>{{405,362},{164,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuSenseiA_head01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,191}</string>
                <key>spriteSourceSize</key>
                <string>{209,191}</string>
                <key>textureRect</key>
                <string>{{569,362},{209,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuSenseiB01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,327}</string>
                <key>spriteSourceSize</key>
                <string>{204,327}</string>
                <key>textureRect</key>
                <string>{{668,809},{204,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kaisetsuSenseiC01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,327}</string>
                <key>spriteSourceSize</key>
                <string>{213,327}</string>
                <key>textureRect</key>
                <string>{{0,1136},{213,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kaisetsu.png</string>
            <key>size</key>
            <string>{872,1819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0189807e39445f82fe3881d494ddc69c:4b5022ecf6e558041be27771d0e179c7:bee74b9d75680737efda00583b403055$</string>
            <key>textureFileName</key>
            <string>kaisetsu.png</string>
        </dict>
    </dict>
</plist>
