<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueprint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,674}</string>
                <key>spriteSourceSize</key>
                <string>{750,674}</string>
                <key>textureRect</key>
                <string>{{0,1307},{750,674}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gabbage_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,181}</string>
                <key>spriteSourceSize</key>
                <string>{200,181}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gabbage_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gabbage_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,187}</string>
                <key>spriteSourceSize</key>
                <string>{200,187}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gabbage_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,198}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,564}</string>
                <key>spriteSourceSize</key>
                <string>{600,564}</string>
                <key>textureRect</key>
                <string>{{0,200},{600,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,543}</string>
                <key>spriteSourceSize</key>
                <string>{717,543}</string>
                <key>textureRect</key>
                <string>{{0,764},{717,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blueprint.png</string>
            <key>size</key>
            <string>{800,1981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:860fcd3b589f9d85610dc951d941466d:504e41f5e4e5714bc16d59c13a1e2457:97992b649618e1a2263910eacbcd3927$</string>
            <key>textureFileName</key>
            <string>blueprint.png</string>
        </dict>
    </dict>
</plist>
