<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>core_element.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,246}</string>
                <key>spriteSourceSize</key>
                <string>{251,246}</string>
                <key>textureRect</key>
                <string>{{0,365},{251,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_parts_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,159}</string>
                <key>spriteSourceSize</key>
                <string>{146,159}</string>
                <key>textureRect</key>
                <string>{{137,0},{146,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_parts_bolt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{204,204}</string>
                <key>textureRect</key>
                <string>{{0,159},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_parts_gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{283,0},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_parts_hige.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{28,0},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_parts_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,206}</string>
                <key>spriteSourceSize</key>
                <string>{211,206}</string>
                <key>textureRect</key>
                <string>{{204,159},{211,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_parts_unko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,277}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{0,611},{277,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,291}</string>
                <key>spriteSourceSize</key>
                <string>{291,291}</string>
                <key>textureRect</key>
                <string>{{0,888},{291,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>core_ring_unko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,355}</string>
                <key>spriteSourceSize</key>
                <string>{358,355}</string>
                <key>textureRect</key>
                <string>{{0,1179},{358,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>core.png</string>
            <key>size</key>
            <string>{435,1534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:307ac98f06145169cfd9604bf11d8a0b:6304533e993a765ff089d240e8369f49:faa77a802a9eea76370e25974140ec4e$</string>
            <key>textureFileName</key>
            <string>core.png</string>
        </dict>
    </dict>
</plist>
