<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robo_label_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,43}</string>
                <key>spriteSourceSize</key>
                <string>{174,43}</string>
                <key>textureRect</key>
                <string>{{612,0},{174,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_label_gachiben.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,43}</string>
                <key>spriteSourceSize</key>
                <string>{174,43}</string>
                <key>textureRect</key>
                <string>{{786,0},{174,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_label_goriben.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,43}</string>
                <key>spriteSourceSize</key>
                <string>{174,43}</string>
                <key>textureRect</key>
                <string>{{960,0},{174,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_label_shugyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,43}</string>
                <key>spriteSourceSize</key>
                <string>{174,43}</string>
                <key>textureRect</key>
                <string>{{1134,0},{174,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_meter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,1112}</string>
                <key>spriteSourceSize</key>
                <string>{23,1112}</string>
                <key>textureRect</key>
                <string>{{620,165},{23,1112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_parameter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,30}</string>
                <key>spriteSourceSize</key>
                <string>{172,30}</string>
                <key>textureRect</key>
                <string>{{440,0},{172,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_shape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1142,1237}</string>
                <key>spriteSourceSize</key>
                <string>{1142,1237}</string>
                <key>textureRect</key>
                <string>{{643,165},{1142,1237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,19}</string>
                <key>spriteSourceSize</key>
                <string>{114,19}</string>
                <key>textureRect</key>
                <string>{{113,0},{114,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,241}</string>
                <key>spriteSourceSize</key>
                <string>{620,241}</string>
                <key>textureRect</key>
                <string>{{0,165},{620,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{341,0},{99,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,19}</string>
                <key>spriteSourceSize</key>
                <string>{113,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{113,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,19}</string>
                <key>spriteSourceSize</key>
                <string>{114,19}</string>
                <key>textureRect</key>
                <string>{{227,0},{114,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,18}</string>
                <key>spriteSourceSize</key>
                <string>{422,18}</string>
                <key>textureRect</key>
                <string>{{0,50},{422,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,115}</string>
                <key>spriteSourceSize</key>
                <string>{580,115}</string>
                <key>textureRect</key>
                <string>{{796,50},{580,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_text_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{1308,0},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>robo_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,89}</string>
                <key>spriteSourceSize</key>
                <string>{374,89}</string>
                <key>textureRect</key>
                <string>{{422,50},{374,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robo.png</string>
            <key>size</key>
            <string>{1785,1402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdf3be2826e9bddffcc560a03350d3e8:f483436904e8d4f577fbf2ec0ed8720a:77230628d176bda9c36a228109f9ed57$</string>
            <key>textureFileName</key>
            <string>robo.png</string>
        </dict>
    </dict>
</plist>
