<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{109,101}</string>
                <key>textureRect</key>
                <string>{{528,0},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi_graph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,204}</string>
                <key>spriteSourceSize</key>
                <string>{492,204}</string>
                <key>textureRect</key>
                <string>{{0,498},{492,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi_graph_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,204}</string>
                <key>spriteSourceSize</key>
                <string>{492,204}</string>
                <key>textureRect</key>
                <string>{{492,498},{492,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi_parameter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,156}</string>
                <key>spriteSourceSize</key>
                <string>{420,156}</string>
                <key>textureRect</key>
                <string>{{0,299},{420,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi_shape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,324}</string>
                <key>spriteSourceSize</key>
                <string>{514,324}</string>
                <key>textureRect</key>
                <string>{{492,702},{514,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,20}</string>
                <key>spriteSourceSize</key>
                <string>{89,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>semi_tokucho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,57}</string>
                <key>spriteSourceSize</key>
                <string>{151,57}</string>
                <key>textureRect</key>
                <string>{{377,0},{151,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_graph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,209}</string>
                <key>spriteSourceSize</key>
                <string>{492,209}</string>
                <key>textureRect</key>
                <string>{{0,702},{492,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_graph_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,199}</string>
                <key>spriteSourceSize</key>
                <string>{492,199}</string>
                <key>textureRect</key>
                <string>{{420,299},{492,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_parameter_konjyoh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,149}</string>
                <key>spriteSourceSize</key>
                <string>{316,149}</string>
                <key>textureRect</key>
                <string>{{637,0},{316,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_parameter_tensai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,150}</string>
                <key>spriteSourceSize</key>
                <string>{298,150}</string>
                <key>textureRect</key>
                <string>{{0,149},{298,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_parameter_yujyo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,150}</string>
                <key>spriteSourceSize</key>
                <string>{299,150}</string>
                <key>textureRect</key>
                <string>{{298,149},{299,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_shape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,330}</string>
                <key>spriteSourceSize</key>
                <string>{517,330}</string>
                <key>textureRect</key>
                <string>{{0,1026},{517,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,20}</string>
                <key>spriteSourceSize</key>
                <string>{96,20}</string>
                <key>textureRect</key>
                <string>{{89,0},{96,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unko_tokucho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,38}</string>
                <key>spriteSourceSize</key>
                <string>{192,38}</string>
                <key>textureRect</key>
                <string>{{185,0},{192,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unko-semi.png</string>
            <key>size</key>
            <string>{1006,1356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175ec1976c1431ef514bd1d92cafa083:517e99734701e289278c1b99bde2727e:d127c8182337cca9e1f6253044486109$</string>
            <key>textureFileName</key>
            <string>unko-semi.png</string>
        </dict>
    </dict>
</plist>
