<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unkosensei_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,356}</string>
                <key>spriteSourceSize</key>
                <string>{400,356}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_carry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,289}</string>
                <key>spriteSourceSize</key>
                <string>{400,289}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_compass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,437}</string>
                <key>spriteSourceSize</key>
                <string>{400,437}</string>
                <key>textureRect</key>
                <string>{{400,416},{400,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_ruler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,352}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_thinking_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,636}</string>
                <key>spriteSourceSize</key>
                <string>{382,636}</string>
                <key>textureRect</key>
                <string>{{1187,416},{382,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_thinking_R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,631}</string>
                <key>spriteSourceSize</key>
                <string>{387,631}</string>
                <key>textureRect</key>
                <string>{{800,416},{387,631}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_wrench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,416}</string>
                <key>spriteSourceSize</key>
                <string>{400,416}</string>
                <key>textureRect</key>
                <string>{{1600,0},{400,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,421}</string>
                <key>spriteSourceSize</key>
                <string>{400,421}</string>
                <key>textureRect</key>
                <string>{{0,416},{400,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosensei_writing_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,193}</string>
                <key>spriteSourceSize</key>
                <string>{400,193}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkosnesei_notice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,636}</string>
                <key>spriteSourceSize</key>
                <string>{382,636}</string>
                <key>textureRect</key>
                <string>{{1569,416},{382,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unkosensei.png</string>
            <key>size</key>
            <string>{2000,1052}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caf2662abc08756ff9e5fe45c07cb4bf:bd6813614d770738141c157fcaf2caef:35dec584813e9156af4a22f81ba199f4$</string>
            <key>textureFileName</key>
            <string>unkosensei.png</string>
        </dict>
    </dict>
</plist>
