<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>resultHayaLvupGlow01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,193}</string>
                <key>spriteSourceSize</key>
                <string>{216,193}</string>
                <key>textureRect</key>
                <string>{{0,0},{216,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultHayaLvupGokouA01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{216,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultHayaLvupGokouB01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{472,0},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultHayaLvupGokouC01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,256}</string>
                <key>spriteSourceSize</key>
                <string>{144,256}</string>
                <key>textureRect</key>
                <string>{{728,0},{144,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkoGetHukidashi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{643,205}</string>
                <key>spriteSourceSize</key>
                <string>{643,205}</string>
                <key>textureRect</key>
                <string>{{0,256},{643,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkoGetText01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,139}</string>
                <key>spriteSourceSize</key>
                <string>{567,139}</string>
                <key>textureRect</key>
                <string>{{0,461},{567,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unkoGet.png</string>
            <key>size</key>
            <string>{872,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c2cb42a1962de576c55608f446968a:c1b394247d60066c70d3f4a44e11f689:90d1161804c35c1578672303ade8bf9e$</string>
            <key>textureFileName</key>
            <string>unkoGet.png</string>
        </dict>
    </dict>
</plist>
