<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_result_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{83,110}</string>
                <key>textureRect</key>
                <string>{{377,0},{83,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,110}</string>
                <key>spriteSourceSize</key>
                <string>{53,110}</string>
                <key>textureRect</key>
                <string>{{460,0},{53,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,110}</string>
                <key>spriteSourceSize</key>
                <string>{81,110}</string>
                <key>textureRect</key>
                <string>{{513,0},{81,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,114}</string>
                <key>spriteSourceSize</key>
                <string>{78,114}</string>
                <key>textureRect</key>
                <string>{{84,112},{78,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,113}</string>
                <key>spriteSourceSize</key>
                <string>{84,113}</string>
                <key>textureRect</key>
                <string>{{0,112},{84,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,112}</string>
                <key>spriteSourceSize</key>
                <string>{79,112}</string>
                <key>textureRect</key>
                <string>{{923,0},{79,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{83,110}</string>
                <key>textureRect</key>
                <string>{{594,0},{83,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,110}</string>
                <key>spriteSourceSize</key>
                <string>{80,110}</string>
                <key>textureRect</key>
                <string>{{677,0},{80,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{757,0},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_result_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{84,110}</string>
                <key>textureRect</key>
                <string>{{839,0},{84,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,680}</string>
                <key>spriteSourceSize</key>
                <string>{424,680}</string>
                <key>textureRect</key>
                <string>{{162,112},{424,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_button_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,95}</string>
                <key>spriteSourceSize</key>
                <string>{327,95}</string>
                <key>textureRect</key>
                <string>{{50,0},{327,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,1101}</string>
                <key>spriteSourceSize</key>
                <string>{436,1101}</string>
                <key>textureRect</key>
                <string>{{586,112},{436,1101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_ten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>score.png</string>
            <key>size</key>
            <string>{1022,1213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc146f476d8d11b00bae5e8c370c5c52:fc1800c53eeb0ca77e7363f4b115d0bc:e964b6a6f23b70b3ffe4cf12151abbb7$</string>
            <key>textureFileName</key>
            <string>score.png</string>
        </dict>
    </dict>
</plist>
