<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>numLineA0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,123}</string>
                <key>spriteSourceSize</key>
                <string>{96,123}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,123}</string>
                <key>spriteSourceSize</key>
                <string>{66,123}</string>
                <key>textureRect</key>
                <string>{{96,0},{66,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,123}</string>
                <key>spriteSourceSize</key>
                <string>{94,123}</string>
                <key>textureRect</key>
                <string>{{162,0},{94,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,130}</string>
                <key>textureRect</key>
                <string>{{280,124},{92,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,130}</string>
                <key>spriteSourceSize</key>
                <string>{98,130}</string>
                <key>textureRect</key>
                <string>{{372,124},{98,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{92,128}</string>
                <key>textureRect</key>
                <string>{{188,124},{92,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,124}</string>
                <key>spriteSourceSize</key>
                <string>{97,124}</string>
                <key>textureRect</key>
                <string>{{353,0},{97,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,126}</string>
                <key>spriteSourceSize</key>
                <string>{93,126}</string>
                <key>textureRect</key>
                <string>{{95,124},{93,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,124}</string>
                <key>spriteSourceSize</key>
                <string>{95,124}</string>
                <key>textureRect</key>
                <string>{{0,124},{95,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numLineA9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,123}</string>
                <key>spriteSourceSize</key>
                <string>{97,123}</string>
                <key>textureRect</key>
                <string>{{256,0},{97,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>numLinesA.png</string>
            <key>size</key>
            <string>{470,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4367f6998637cbabb40bcd9a274e5698:244bd15f764cbacf3524a8b823613c8f:1fe01c3e1b92d43fde4011a034a51166$</string>
            <key>textureFileName</key>
            <string>numLinesA.png</string>
        </dict>
    </dict>
</plist>
