<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameBad01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,379}</string>
                <key>spriteSourceSize</key>
                <string>{372,379}</string>
                <key>textureRect</key>
                <string>{{1397,847},{372,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnEnter05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,85}</string>
                <key>spriteSourceSize</key>
                <string>{171,85}</string>
                <key>textureRect</key>
                <string>{{685,0},{171,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnHintOff01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,171}</string>
                <key>spriteSourceSize</key>
                <string>{116,171}</string>
                <key>textureRect</key>
                <string>{{799,650},{116,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnHintOn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,171}</string>
                <key>spriteSourceSize</key>
                <string>{117,171}</string>
                <key>textureRect</key>
                <string>{{915,650},{117,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBtnReset05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,84}</string>
                <key>spriteSourceSize</key>
                <string>{171,84}</string>
                <key>textureRect</key>
                <string>{{514,0},{171,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,145}</string>
                <key>spriteSourceSize</key>
                <string>{539,145}</string>
                <key>textureRect</key>
                <string>{{511,356},{539,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,140}</string>
                <key>spriteSourceSize</key>
                <string>{503,140}</string>
                <key>textureRect</key>
                <string>{{405,212},{503,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,147}</string>
                <key>spriteSourceSize</key>
                <string>{502,147}</string>
                <key>textureRect</key>
                <string>{{1010,501},{502,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,145}</string>
                <key>spriteSourceSize</key>
                <string>{510,145}</string>
                <key>textureRect</key>
                <string>{{1050,356},{510,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,145}</string>
                <key>spriteSourceSize</key>
                <string>{501,145}</string>
                <key>textureRect</key>
                <string>{{0,501},{501,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,142}</string>
                <key>spriteSourceSize</key>
                <string>{508,142}</string>
                <key>textureRect</key>
                <string>{{908,212},{508,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,144}</string>
                <key>spriteSourceSize</key>
                <string>{500,144}</string>
                <key>textureRect</key>
                <string>{{1416,212},{500,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,145}</string>
                <key>spriteSourceSize</key>
                <string>{509,145}</string>
                <key>textureRect</key>
                <string>{{501,501},{509,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameComboNum9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,144}</string>
                <key>spriteSourceSize</key>
                <string>{511,144}</string>
                <key>textureRect</key>
                <string>{{0,356},{511,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameFinishText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,153}</string>
                <key>spriteSourceSize</key>
                <string>{521,153}</string>
                <key>textureRect</key>
                <string>{{0,650},{521,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameGood01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,416}</string>
                <key>spriteSourceSize</key>
                <string>{414,416}</string>
                <key>textureRect</key>
                <string>{{0,1226},{414,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameHint2L02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,110}</string>
                <key>spriteSourceSize</key>
                <string>{36,110}</string>
                <key>textureRect</key>
                <string>{{1441,93},{36,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameHint2R02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,110}</string>
                <key>spriteSourceSize</key>
                <string>{37,110}</string>
                <key>textureRect</key>
                <string>{{1477,93},{37,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameHintCenter02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{377,0},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameHintIcon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{321,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameHintL02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,70}</string>
                <key>spriteSourceSize</key>
                <string>{36,70}</string>
                <key>textureRect</key>
                <string>{{441,0},{36,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameHintR02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,70}</string>
                <key>spriteSourceSize</key>
                <string>{37,70}</string>
                <key>textureRect</key>
                <string>{{477,0},{37,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameIjinMiniHukidashi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,217}</string>
                <key>spriteSourceSize</key>
                <string>{406,217}</string>
                <key>textureRect</key>
                <string>{{0,847},{406,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMainBoard04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,627}</string>
                <key>spriteSourceSize</key>
                <string>{685,627}</string>
                <key>textureRect</key>
                <string>{{414,1226},{685,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMiniMaru01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{17,0},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameQuestionBoard03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,52}</string>
                <key>spriteSourceSize</key>
                <string>{216,52}</string>
                <key>textureRect</key>
                <string>{{105,0},{216,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameReadyNum1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,238}</string>
                <key>spriteSourceSize</key>
                <string>{119,238}</string>
                <key>textureRect</key>
                <string>{{406,847},{119,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameReadyNum2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,242}</string>
                <key>spriteSourceSize</key>
                <string>{176,242}</string>
                <key>textureRect</key>
                <string>{{525,847},{176,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameReadyNum3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,246}</string>
                <key>spriteSourceSize</key>
                <string>{166,246}</string>
                <key>textureRect</key>
                <string>{{701,847},{166,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameReadyStart01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,197}</string>
                <key>spriteSourceSize</key>
                <string>{641,197}</string>
                <key>textureRect</key>
                <string>{{1032,650},{641,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameTimeText01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,39}</string>
                <key>textureRect</key>
                <string>{{51,0},{54,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameTimeUp01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,316}</string>
                <key>spriteSourceSize</key>
                <string>{530,316}</string>
                <key>textureRect</key>
                <string>{{867,847},{530,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgLoadError.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,212},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,93}</string>
                <key>textureRect</key>
                <string>{{1455,0},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,94}</string>
                <key>spriteSourceSize</key>
                <string>{143,94}</string>
                <key>textureRect</key>
                <string>{{0,93},{143,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{1298,93},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS04_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,95}</string>
                <key>spriteSourceSize</key>
                <string>{145,95}</string>
                <key>textureRect</key>
                <string>{{626,93},{145,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS05_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,95}</string>
                <key>spriteSourceSize</key>
                <string>{143,95}</string>
                <key>textureRect</key>
                <string>{{771,93},{143,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,93}</string>
                <key>spriteSourceSize</key>
                <string>{144,93}</string>
                <key>textureRect</key>
                <string>{{1585,0},{144,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS07_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,94}</string>
                <key>textureRect</key>
                <string>{{143,93},{142,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS08_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,94}</string>
                <key>spriteSourceSize</key>
                <string>{144,94}</string>
                <key>textureRect</key>
                <string>{{285,93},{144,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS09_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,93}</string>
                <key>spriteSourceSize</key>
                <string>{144,93}</string>
                <key>textureRect</key>
                <string>{{1729,0},{144,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusNumS10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,94}</string>
                <key>spriteSourceSize</key>
                <string>{197,94}</string>
                <key>textureRect</key>
                <string>{{429,93},{197,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texCombo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,87}</string>
                <key>spriteSourceSize</key>
                <string>{144,87}</string>
                <key>textureRect</key>
                <string>{{856,0},{144,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texNoHint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,90}</string>
                <key>spriteSourceSize</key>
                <string>{187,90}</string>
                <key>textureRect</key>
                <string>{{1179,0},{187,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>texTimeBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,89}</string>
                <key>spriteSourceSize</key>
                <string>{179,89}</string>
                <key>textureRect</key>
                <string>{{1000,0},{179,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeGage3_center01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{1366,0},{89,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeGage3_dot01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,9}</string>
                <key>spriteSourceSize</key>
                <string>{17,9}</string>
                <key>textureRect</key>
                <string>{{0,0},{17,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeGage3_fill01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1641,93},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeGage3_frame01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{267,212},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeGage3_harf01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,119}</string>
                <key>spriteSourceSize</key>
                <string>{60,119}</string>
                <key>textureRect</key>
                <string>{{1760,93},{60,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkomushi_blue03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,157}</string>
                <key>spriteSourceSize</key>
                <string>{139,157}</string>
                <key>textureRect</key>
                <string>{{521,650},{139,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkomushi_green03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,117}</string>
                <key>spriteSourceSize</key>
                <string>{127,117}</string>
                <key>textureRect</key>
                <string>{{1514,93},{127,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkomushi_purple03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,129}</string>
                <key>spriteSourceSize</key>
                <string>{139,129}</string>
                <key>textureRect</key>
                <string>{{128,212},{139,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkomushi_red03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,149}</string>
                <key>spriteSourceSize</key>
                <string>{140,149}</string>
                <key>textureRect</key>
                <string>{{1512,501},{140,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unkomushi_yellow03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,163}</string>
                <key>spriteSourceSize</key>
                <string>{139,163}</string>
                <key>textureRect</key>
                <string>{{660,650},{139,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userIcon21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{914,93},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userIcon22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1010,93},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userIcon23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1106,93},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userIcon24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1202,93},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1916,1853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e9ef9767f843b6449153ebd2e49b11c:2edbddf77ae4e216c21e396aa1cd7301:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
