<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameCursor02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{37,0},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameGroupBase02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,337}</string>
                <key>spriteSourceSize</key>
                <string>{313,337}</string>
                <key>textureRect</key>
                <string>{{0,527},{313,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameGroupCursor01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{67,0},{32,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameGroupGuide01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,273}</string>
                <key>spriteSourceSize</key>
                <string>{583,273}</string>
                <key>textureRect</key>
                <string>{{236,250},{583,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameGroupNameBoard02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,46}</string>
                <key>spriteSourceSize</key>
                <string>{245,46}</string>
                <key>textureRect</key>
                <string>{{99,0},{245,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameInputSingleBox03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{658,0},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameInputSingleBox04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{344,0},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameLineDot01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePairBase02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,364}</string>
                <key>spriteSourceSize</key>
                <string>{673,364}</string>
                <key>textureRect</key>
                <string>{{313,527},{673,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamePairGuide02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,250}</string>
                <key>spriteSourceSize</key>
                <string>{156,250}</string>
                <key>textureRect</key>
                <string>{{858,0},{156,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameRensouTime01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{404,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameSlotCursorBtn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{738,0},{120,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameSlotFill03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,263}</string>
                <key>spriteSourceSize</key>
                <string>{118,263}</string>
                <key>textureRect</key>
                <string>{{0,250},{118,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameSlotFillGrade05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,263}</string>
                <key>spriteSourceSize</key>
                <string>{118,263}</string>
                <key>textureRect</key>
                <string>{{118,250},{118,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameSlotLine04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,277}</string>
                <key>spriteSourceSize</key>
                <string>{131,277}</string>
                <key>textureRect</key>
                <string>{{819,250},{131,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_nameInput_btnS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,82}</string>
                <key>spriteSourceSize</key>
                <string>{174,82}</string>
                <key>textureRect</key>
                <string>{{484,0},{174,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingBoard01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,911}</string>
                <key>spriteSourceSize</key>
                <string>{736,911}</string>
                <key>textureRect</key>
                <string>{{0,891},{736,911}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>componentItems.png</string>
            <key>size</key>
            <string>{1014,1802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9dd19818d0f25509add91c40f2a0d75:369386fbed7e7afece59c8a2f5affac1:70c217e58e29841afb9341b7809d2d1a$</string>
            <key>textureFileName</key>
            <string>componentItems.png</string>
        </dict>
    </dict>
</plist>
