<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>introEffectBikkuiri01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{0,204},{290,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introEffectGucha01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{290,204},{290,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introEffectIkari01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,301}</string>
                <key>textureRect</key>
                <string>{{580,204},{321,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introMessageWindow01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,462}</string>
                <key>spriteSourceSize</key>
                <string>{711,462}</string>
                <key>textureRect</key>
                <string>{{935,948},{711,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introNameBoard01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,97}</string>
                <key>spriteSourceSize</key>
                <string>{291,97}</string>
                <key>textureRect</key>
                <string>{{1027,0},{291,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introNextIcon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{841,0},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,107}</string>
                <key>spriteSourceSize</key>
                <string>{619,107}</string>
                <key>textureRect</key>
                <string>{{0,97},{619,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,107}</string>
                <key>spriteSourceSize</key>
                <string>{619,107}</string>
                <key>textureRect</key>
                <string>{{619,97},{619,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,107}</string>
                <key>spriteSourceSize</key>
                <string>{619,107}</string>
                <key>textureRect</key>
                <string>{{1238,97},{619,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{751,64}</string>
                <key>spriteSourceSize</key>
                <string>{751,64}</string>
                <key>textureRect</key>
                <string>{{36,0},{751,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectIkari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{787,0},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKouhun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{927,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,304}</string>
                <key>spriteSourceSize</key>
                <string>{339,304}</string>
                <key>textureRect</key>
                <string>{{901,204},{339,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,405}</string>
                <key>spriteSourceSize</key>
                <string>{542,405}</string>
                <key>textureRect</key>
                <string>{{393,948},{542,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{1240,204},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{0,576},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{393,576},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{786,576},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{1179,576},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,373}</string>
                <key>spriteSourceSize</key>
                <string>{393,373}</string>
                <key>textureRect</key>
                <string>{{0,948},{393,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>inroduction.png</string>
            <key>size</key>
            <string>{1857,1410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4ef7e8f805c9fd4fd52de1059d1d806:0952a04d135f367d26af1b64da558a2c:d97988b51bd126c844b1ba21615e35a4$</string>
            <key>textureFileName</key>
            <string>inroduction.png</string>
        </dict>
    </dict>
</plist>
