<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>introEffectBikkuiri01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{0,410},{290,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introEffectGucha01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{290,410},{290,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introEffectIkari01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,301}</string>
                <key>textureRect</key>
                <string>{{580,410},{321,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introMessageWindow01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,462}</string>
                <key>spriteSourceSize</key>
                <string>{711,462}</string>
                <key>textureRect</key>
                <string>{{935,1144},{711,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introNameBoard01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,97}</string>
                <key>spriteSourceSize</key>
                <string>{291,97}</string>
                <key>textureRect</key>
                <string>{{747,0},{291,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introNextIcon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{90,0},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,107}</string>
                <key>spriteSourceSize</key>
                <string>{619,107}</string>
                <key>textureRect</key>
                <string>{{750,196},{619,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,107}</string>
                <key>spriteSourceSize</key>
                <string>{619,107}</string>
                <key>textureRect</key>
                <string>{{0,303},{619,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,107}</string>
                <key>spriteSourceSize</key>
                <string>{619,107}</string>
                <key>textureRect</key>
                <string>{{619,303},{619,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,107}</string>
                <key>spriteSourceSize</key>
                <string>{619,107}</string>
                <key>textureRect</key>
                <string>{{1238,303},{619,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,64}</string>
                <key>spriteSourceSize</key>
                <string>{750,64}</string>
                <key>textureRect</key>
                <string>{{0,196},{750,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectIkari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{36,0},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKouhun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{277,0},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKurukuru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,88}</string>
                <key>spriteSourceSize</key>
                <string>{101,88}</string>
                <key>textureRect</key>
                <string>{{176,0},{101,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,304}</string>
                <key>spriteSourceSize</key>
                <string>{339,304}</string>
                <key>textureRect</key>
                <string>{{901,410},{339,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,405}</string>
                <key>spriteSourceSize</key>
                <string>{542,405}</string>
                <key>textureRect</key>
                <string>{{393,1144},{542,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,305}</string>
                <key>spriteSourceSize</key>
                <string>{339,305}</string>
                <key>textureRect</key>
                <string>{{1240,410},{339,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{0,772},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{393,772},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{786,772},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{1179,772},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{1572,772},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,373}</string>
                <key>spriteSourceSize</key>
                <string>{393,373}</string>
                <key>textureRect</key>
                <string>{{0,1144},{393,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,362}</string>
                <key>spriteSourceSize</key>
                <string>{393,362}</string>
                <key>textureRect</key>
                <string>{{1579,410},{393,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{1782,0},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamp_fukidashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,82}</string>
                <key>spriteSourceSize</key>
                <string>{211,82}</string>
                <key>textureRect</key>
                <string>{{377,0},{211,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamp_unko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{588,0},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,80}</string>
                <key>spriteSourceSize</key>
                <string>{372,80}</string>
                <key>textureRect</key>
                <string>{{1410,0},{372,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_stamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,79}</string>
                <key>spriteSourceSize</key>
                <string>{372,79}</string>
                <key>textureRect</key>
                <string>{{1038,0},{372,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>introduction.png</string>
            <key>size</key>
            <string>{1978,1606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee9da502de7b7ee2a856fc048ac0352d:851b4cff163cc05b0c9130598a30f617:78e5fe0c32f0740d5a43cb50b025bb27$</string>
            <key>textureFileName</key>
            <string>introduction.png</string>
        </dict>
    </dict>
</plist>
