<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>introEffectBikkuiri01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{0,347},{290,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introEffectGucha01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,280}</string>
                <key>spriteSourceSize</key>
                <string>{290,280}</string>
                <key>textureRect</key>
                <string>{{290,347},{290,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introEffectIkari01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,301}</string>
                <key>spriteSourceSize</key>
                <string>{321,301}</string>
                <key>textureRect</key>
                <string>{{580,347},{321,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introMessageWindow01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{711,462}</string>
                <key>spriteSourceSize</key>
                <string>{711,462}</string>
                <key>textureRect</key>
                <string>{{935,1081},{711,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introNameBoard01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,97}</string>
                <key>spriteSourceSize</key>
                <string>{291,97}</string>
                <key>textureRect</key>
                <string>{{100,151},{291,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introNextIcon01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1759,63},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{561,60}</string>
                <key>spriteSourceSize</key>
                <string>{561,60}</string>
                <key>textureRect</key>
                <string>{{36,0},{561,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,62}</string>
                <key>spriteSourceSize</key>
                <string>{372,62}</string>
                <key>textureRect</key>
                <string>{{1028,0},{372,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,60}</string>
                <key>spriteSourceSize</key>
                <string>{431,60}</string>
                <key>textureRect</key>
                <string>{{597,0},{431,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,63}</string>
                <key>spriteSourceSize</key>
                <string>{408,63}</string>
                <key>textureRect</key>
                <string>{{1400,0},{408,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,103}</string>
                <key>spriteSourceSize</key>
                <string>{615,103}</string>
                <key>textureRect</key>
                <string>{{1005,151},{615,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_button_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,102}</string>
                <key>spriteSourceSize</key>
                <string>{614,102}</string>
                <key>textureRect</key>
                <string>{{391,151},{614,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introduction_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,64}</string>
                <key>spriteSourceSize</key>
                <string>{750,64}</string>
                <key>textureRect</key>
                <string>{{0,63},{750,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectIkari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKira.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{750,63},{54,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKouhun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,93}</string>
                <key>spriteSourceSize</key>
                <string>{100,93}</string>
                <key>textureRect</key>
                <string>{{0,151},{100,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_effectKurukuru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,88}</string>
                <key>spriteSourceSize</key>
                <string>{101,88}</string>
                <key>textureRect</key>
                <string>{{1845,63},{101,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,304}</string>
                <key>spriteSourceSize</key>
                <string>{339,304}</string>
                <key>textureRect</key>
                <string>{{901,347},{339,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,405}</string>
                <key>spriteSourceSize</key>
                <string>{542,405}</string>
                <key>textureRect</key>
                <string>{{393,1081},{542,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiBodyC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,305}</string>
                <key>spriteSourceSize</key>
                <string>{339,305}</string>
                <key>textureRect</key>
                <string>{{1240,347},{339,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{0,709},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{393,709},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{786,709},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{1179,709},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,372}</string>
                <key>spriteSourceSize</key>
                <string>{393,372}</string>
                <key>textureRect</key>
                <string>{{1572,709},{393,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,373}</string>
                <key>spriteSourceSize</key>
                <string>{393,373}</string>
                <key>textureRect</key>
                <string>{{0,1081},{393,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>openingB_senseiHeadG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,362}</string>
                <key>spriteSourceSize</key>
                <string>{393,362}</string>
                <key>textureRect</key>
                <string>{{1579,347},{393,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamp_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{1779,151},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamp_fukidashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,82}</string>
                <key>spriteSourceSize</key>
                <string>{211,82}</string>
                <key>textureRect</key>
                <string>{{1548,63},{211,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamp_unko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{159,159}</string>
                <key>textureRect</key>
                <string>{{1620,151},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,80}</string>
                <key>spriteSourceSize</key>
                <string>{372,80}</string>
                <key>textureRect</key>
                <string>{{1176,63},{372,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_stamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,79}</string>
                <key>spriteSourceSize</key>
                <string>{372,79}</string>
                <key>textureRect</key>
                <string>{{804,63},{372,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>introduction.png</string>
            <key>size</key>
            <string>{1975,1543}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ceff3bb126bab6688dd27251edaa999:dbe99222c41a0af7362c956807b55163:78e5fe0c32f0740d5a43cb50b025bb27$</string>
            <key>textureFileName</key>
            <string>introduction.png</string>
        </dict>
    </dict>
</plist>
